.features {
  position: relative;
  overflow: hidden;
}

.features.section {
  padding-bottom: 80px;
}
.features .container {
  display: flex;
  justify-content: center;
}
.features__map {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  z-index: -1;
}

.features__image {
  position: relative;
  width: fit-content;
}
.features__data {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.features__data div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 127px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  color: var(--text-color-white);
  border-radius: 20px;
  padding: 20px;
  align-items: center;
}
.features__data div:nth-child(1) {
  left: -40px;
  top: 50px;
}
.features__data div:nth-child(2) {
  right: -72px;
  top: 110px;
}
.features__data div:nth-child(3) {
  left: -40px;
  top: 250px;
}
.features__data div h3 {
  font-weight: 600;
  font-size: var(--font-h3);
}
.features__data div p {
  font-size: var(--smaller-font);
  font-weight: 300;
  max-width: 50px;
}
