.popular {
  background-color: var(--container-color);
  overflow: hidden;
}
.popular.section {
  padding-bottom: 48px;
}
.popular .container {
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 1024px) {
  .popular .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
